a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-results-button,input[type=search]::-webkit-search-results-decoration{-webkit-appearance:none;-moz-appearance:none}input[type=search]{-webkit-appearance:none;-moz-appearance:none;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}textarea{overflow:auto;vertical-align:top;resize:vertical}audio,canvas,video{display:inline-block;max-width:100%}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}a:focus{outline:thin dotted}a:active,a:hover{outline:0}img{border:0;-ms-interpolation-mode:bicubic}figure{margin:0}form{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}button,html,input,select,textarea{color:#222}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}img{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{resize:vertical}.chromeframe{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}


/* Reference Colours */

/*
#201E21 
#14171f  
#faba63  
#ffffff 
*/

/* Preliminary Styles */

html{
    font-family: 'italiana',Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    margin:0;
    padding:0;
}

*{
    margin:0;
    padding:0;
}

.wrapper{
    max-width: 1300px;
    width: 90%;
    margin: 0 auto;
}

img{
    width:100%;
}

/* Hamburger Menu */
.ham{
    visibility: hidden;
}

/* Setting Base Fonts + Colors*/

body{
    font-family: 'lato', Arial, Helvetica, sans-serif
}

h1,
h2,
h4,
.article .button,
.rows .button,
#footer .button,
#footer .button2{
    font-family: 'italiana';
}

h1,
h2,
h4,
.button{
    text-transform: uppercase;
}

h1,
h2,
h4,
p,
span,
.column a{
    color:#ffffff;
}

nav a,
h3{
    color:#faba63;
}

h1{
    font-size: 10rem;
}

h2{
    font-size: 3.5rem;
}

h4{
    font-size: 2.4rem;
    display:inline-block;
    width: 100%;
    text-align: center;
}

p{
    font-size: 1.5rem;
}
.grid,
.rows{
    background-color:#201E21;
}

#main,
.additional,
#footer{
    background-color:#14171f;
}

.copyright{
    background-color: #000;
}

.article,
.grid,
.additional,
.footer{
    padding: 3% 0;
}

/* Page is divided into 4 different sections
1. Header (nav, title, links)
2. Main (article, grid)
3. Secondary (additional, rows)
4. Footer */

/* Header Section -------*/
#header{
    background-image: url('assets/header-2.jpg');
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

/* Navigation Bar */
 #header ul{
    list-style: none;
    margin-top: 3%;
}

li{
    display:inline;
}

nav a,
.column1 a{
    text-decoration: none;
    font-size: 2rem;
    padding: 0 10px;
}

.title{
    display: inline-block;
    margin: 10% 0 0 20%;
}

.title h1:first-child{
    margin-left:0;
}

.title h1:nth-child(2),
.title h3{
    text-align: right;
    margin-left:23%;
}

h3,
.article p,
.rows p{
    font-family: 'lato';
    font-weight: 300;
    line-height: 29px;
}

h3{
    font-size: 3rem;
}

/* Social Media Links */
.links ul{
    position: absolute;
    bottom:60px;
    right:70px;
}

.icon, 
.fab{
    display:inline-block;
    color:white;
    font-size: 3.5rem;
    position: absolute;
}

.pos1{
    bottom:150px;
    left:4px;
}

.pos2{
    bottom:100px;
    left:6px;
}

.pos3{
    bottom:45px;
}

.pos4{
    bottom:0;
}

/* Start of the Main Section -------*/
.article{
    padding:5%;
}

.article img{
    width:33%;
    float:left;
    margin-right:2%;
}

.article .img2{
    display:none;
}

.text4{
    display:inline-block;
    width: 65%;
}

.button{
    border: 2px solid #faba63;
    display:inline-block;
    padding:5px;
    margin-top:10px;
    transition: ease-in 400ms;    
}

.button:hover{
    border: white 2px solid;
    color:white;
    background-color:#faba63
}

/* Secondary Section ------- */
.grid h2 {
    text-align: center;
    margin: 3% 0;
}

.grid .box,
.events .box {
    float:left;
    width:31%;
    margin:1%;
    padding:10px;
}

.grid img,
.events img{
    width: 100%;
    height: 100%;
}

.additional h2,
.row p{
    text-align: center;
}

/* Row Styles */
.text1,
.text2{
    display:inline-block;
    width:50%;
    height: 100%;
    padding-top:5%
}

.text1{
    padding-right:10%;
    float:left;
}

.text2{
    padding-left:5%;
    float:right;
}

.row1 img{
    float:right;
    width:50%;
    height: 50%;
}

.row1 .rep2{
    display:none;
}

.row2 img{
    float:left;
    width:50%;
    height: 50%;
}

/* Footer Section --------*/
#footer{
    clear: both;
}

#footer .wrapper{
    position: relative;
}

.column {
    width: calc(100% / 3);
    float:left;
    margin: 5% 0;
    line-height: 2rem;
}

.column1 a{
    display:block;
}

.column2 ul li:nth-child(1) p,
.column2 ul li:nth-child(2) p{
    text-align: center;
}

input[type=email]{
    padding: 10px;
    margin:10px 0;
    border:none;
    font-size: 1.5rem;
    width:80%;
    float:left;
} 

.column2 a{
    text-decoration: none;
}

.button2{
    display:inline-block;
    background: black;
    margin:10px 0;
    padding: 1rem;
    font-size: 1rem;
    width:20%;
    text-transform: uppercase;
    text-align: center;
    transition: ease-in 400ms;
}

.button2:hover{
    background-color: #faba63;
}

.column3{
    text-align: right;
    float: right;
}

.column1,
.column2 li:nth-child(1) p,
.column3 li:nth-of-type(1) p{
    font-family: 'italiana';
    margin-bottom:10px;
    font-size: 2rem;
}

.copyright{
    text-align: center;
    padding:2%;
    color:white;
}

.icon2{
    color:#F1BC71;
    display:inline-block;
    width: 100%;
    font-size:6rem;
    text-align:center;
    margin-bottom:5px;
}

/* Desktop Retina View */
@media (max-width: 1020px) {
    input[type=email]{
    width:70%;
    } 

    .button2{
    width:30%;
    }
}

/* Desktop View */
@media (max-width: 990px) {
    .row1 p,
    .row2 p{
        font-size:1.3rem;
    }

    .row1 h2,
    .row2 h2{
        font-size:2.4rem;
    }

    .column2 li:nth-child(2) p{
        font-size:1.2rem;
    }
}

/* Phone Landscape Mode */
@media (max-width: 780px) {

    #header{
        background-image: url('./assets/header-1.jpg');
        background-size: fit;
        height: 90vh;
    }

    .row1 img,
    .row2 img,
    .text1,
    .text2{
        width:100%;
        float:none;
        margin: 0;
    }

    .row1 .rep1{
        display:none;
    }

    .row1 .rep2{
        display:block;
    }

    .row1, .row2{
        padding-bottom:5%;
    }

    .article p{
        font-size:1.3rem;
    }

    .additional h4{
        font-size: 1.7rem;
    }

    .column {
        width: 100%;
        float:none;
        margin: 5% 0;
        line-height: 2rem;
    }

    .column1{
        margin:0 0 10px 0;
        padding-top:5%;
        margin-bottom:10%;
    }

    .column1 a{
        font-family: 'lato';
        font-size: 1.7rem;
        font-weight: 300;
        color:white;
        display: inline-block;
    }

    .column2 ul li:nth-child(1) p,
    .column2 ul li:nth-child(2) p{
        text-align: center;
        width: 100%;
    }
    
    input[type=email]{
        margin-top:10px;
        font-size: 1.5rem;
        text-align: center;
        width:80%;
        float:none;
        margin-left:10%;
    } 
    
    .button2{
        font-size: 2.6rem;
        width:80%;
        margin: 0 0 5% 10%;
    }
    
    .column3{
        text-align: center;
        float: none;
        margin: 0 0 10% 0;
    }
    
    .column2 li:nth-child(1) p,
    .column3 li:nth-of-type(1) p{
        margin: 5% 0;
        font-size: 3rem;
    }
}

    /* Mobile View */
@media (max-width: 500px) {

    #header{
        height: 95vh;
    }

    #header ul{
        visibility: hidden;
        margin:0;
    }

    .ham{
        display:inline-block;
        visibility: visible;
        color:white;
        font-size: 5rem;
        background-color:transparent;
        border:none;
        position: absolute;
        right:10px;
        top:10px;
    }

    .title{
        /* border:red solid 2px; */
        float: left;
        margin:40% 0 0 0;
    }

    .title h1{
        font-size: 7rem;
        margin-left:0;
    }

    .title h3{
        font-size: 2.3rem;
    }

    .article{
        position:relative;
        height:100vh;
        padding-top:10%;
    }

    .article img{
        float:none;
        width:100%;
        margin:0;
    }

    .article .img1{
        display: none;
    }

    .article .img2{
        display: block;
    }
    
    .text4{
        display:inline-block;
        width: 100%;
        margin-top:10%;
    }

    .rows{
        position:relative;
    }
 
    .text4 h2,
    .text4 .button,
    .rows h2,
    .rows .button{
        text-align: center;
    }

    .text4 .button,
    .row1 .button,
    .row2 .button{
        display: block;
        position: absolute;
        font-size: 1.5rem;
    }

    .text4 .button,
    .row2 .button{
        bottom:2%;
        left:40%;
    }

    .grid .box{
        width:49%;
        margin:0;
    }

    .collection div:nth-child(3){
        border:red solid 2px;
        display:none;
    }

    .events .box {
        width:100%;
        margin:10px;
    }

    .text1,
    .text2{
        display:block;
        width:100%;
        padding: 5% 0;
        float:none;
    }

    .text1 h2,
    .text2 h2{
        margin: 5%;
    }

    .row1,
    .row2{
        height: 80vh;
    }

    .row1 img{
        float:none;
        width:100%;
    }

    .row2 img{
        float:none;
        width:100%;
    }

    .row1 .button{
        top:43%;
        left:40%;
    }

    input[type=email]{
        width:100%;
        margin-left:0;
    } 
    
    .button2{
        width:100%;
        margin:0 0 5% 0;
    }

    .column3 p{
        font-size: 1.8rem;
    }

}